<div class="bear_container">
	<div class="bear">
		<div class="bear_border bear_color ear" id="l_ear">
		</div>
		<div class="bear_border bear_color ear" id="r_ear">
		</div>
		<div class="bear_border bear_color arm" id="l_arm">
		</div>
		<div class="bear_border bear_color arm" id="r_arm">
		</div>
		<div class="bear_border bear_color leg" id="l_leg">
		</div>
		<div class="bear_border bear_color leg" id="r_leg">
		</div>
		<div class="bear_border boot_color top_boot" id="l_top_boot">
		</div>
		<div class="bear_border boot_color top_boot" id="r_top_boot">
		</div>
		<div class="bear_border boot_color lower_boot" id="l_lower_boot">
		</div>
		<div class="bear_border boot_color lower_boot" id="r_lower_boot">
		</div>
		<div class="bear_border bear_color" id="bear_body">
			<div class="face">
				<div class="eye" id="l_eye">
				</div>
				<div class="eye" id="r_eye">
				</div>
				<div class="nose">
				</div>
				<div class="mouth">
				</div>
			</div>
		</div>
		
	</div>
	<div class="bear_talk glyphicon glyphicon-heart">
	</div>
</div>